<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link
      href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,700|Lato:100,300,400,700,800,900|Open+Sans:300,300i,400,400i,700,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="nav--fixed">
        <div class="nav--wrapper--menu">
          <ul>
            <li>ABOUT</li>
            <li>Works</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="nav--wrapper--burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </nav>
    <header>
      <h1 class="margin-botton-20px">
        Ux <br />
        Thinker from Barcelona <br />
        Spain
      </h1>
      <div>
        Available for conference: <br />
        <span>sept.'19</span>
      </div>
      <button class="btn-header">MY SERVICES</button>
    </header>
    <section>
      <div class="img-about" scrollamount="30"></div>
      <div class="text-title-H2 margin-left-5"><h2>ABOUT</h2></div>
      <p class="text-about-description margin-left-5 ">
        I'm Antonio. I have a passion for build highly-pushed user experiences,
        and enjoy leading cross-disciplinary teams to innovate and deliver.
        <br />
        <br />
        Currently working at DoubleYou designing digital experiencias.
      </p>
    </section>
    <section class="margin-left-5 margin-right-5 margin-bottom ">
      <div class="text-title-H2 ">
        <h2>SELECTED WORK</h2>
      </div>
      <article class="border-article">
        <div>
          <h4>Name of the work</h4>
          <br />
          MAI 12 <br />
          2019
        </div>
        <div>
          <img class="article-image " src="/img/newlook.jpg" alt="" />
        </div>
      </article>
      <article class="border-article">
        <h4>Name of the work</h4>
        <div>
          MAI 12 <br />
          2019
        </div>
        <img class="article-image " src="/img/newlook.jpg" alt="" />
      </article>
      <article class="border-article">
        <h4>Name of the work</h4>
        <div>
          MAI 12 <br />
          2019
        </div>
        <img class="article-image " src="/img/newlook.jpg" alt="" />
      </article>
      <div class="border-article"></div>
    </section>
    <section class="margin-left-5 margin-right-5 margin-bottom ">
      <h3>CONFERENCES & ASSISTANCE</h3>
      <div>Titular de la conferencia</div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim atque non
        temporibus fugit magni provident cupiditate aperiam nisi id! Doloribus
        repudiandae ipsa doloremque necessitatibus magni, dolore unde illo
        veniam temporibus
      </p>
      <div><span>sept.'19</span></div>
      <div>Localizacion del evento en Barcelona</div>
    </section>
    <section class="margin-left-5 margin-right-5 margin-bottom ">
      <h3>WILL BE IN TOUCH</h3>
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
    </section>
    <section class="margin-left-5 margin-right-5 margin-bottom ">
      <h3>thankyou.</h3>
      <p>antonioriver@gmail.com</p>
      <div>Available for conference: <span>sept.'19</span></div>
    </section>
  </body>
</html>
